<%- include("../partials/header") %>
<div class="container">
<header class="jumbotron">
	<div class="container">
		<h1>Welcome to the YelCamp</h1>
	<p>
		View our hand-picked campgrounds!
	</p>
	<p>
		<a  class="btn btn-primary btn-lg" href="/campgrounds/new">Add new CampGround</a>
	</p>
	</div>
	</header>
<div class="row">
	<% campgrounds.forEach((cg) => { %>
<div class="col-sm-6 col-md-4">
	<div class="card mt-3">
  <img  class="card-img-top" src="<%= cg.image%>">
  <div class="card-body">
	  <h5 class="card-title"><%= cg.name%></h5>
	  <p class="card-text"> <a href="/campgrounds/<%=cg._id%>">More info</a></p>
  </div>
</div>
</div>
<% }); %>
	</div>
</div>
<%- include("../partials/footer") %>